{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Your Cart</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">      
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css'%}" rel="stylesheet">
		
		<link href="{% static 'themes/css/bootstrappage.css'%}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{% static 'themes/css/flexslider.css'%}" rel="stylesheet"/>
		<link href="{% static 'themes/css/main.css'%}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static 'themes/js/jquery-1.7.2.min.js'%}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>				
		<script src="{% static 'themes/js/superfish.js'%}"></script>



				
		
		
		<!-- global styles -->
		<link href="{% static 'themes/css/jquery.fancybox.css'%}" rel="stylesheet"/>
				
		<!-- scripts -->
	
						
		<script src="{% static 'themes/js/jquery.scrolltotop.js'%}"></script>
		<script src="{% static 'themes/js/jquery.fancybox.js'%}"></script>	
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		
	</head>
    <body>		
		
		<div id="wrapper" class="container">
			<section class="navbar main-menu" >
				<div class="navbar-inner main-menu" >				
					<a href="/" class="logo pull-left"><img style="margin-top: 1px;" src="{% static 'themes/images/logo2.png'%}" class="site_logo" alt=""></a>
					
				</div>
			</section>
			<section class="header_text sub">
			
				<h4><span>Your Cart</span></h4>
			</section>
			<p align="center" style="color: red;font-size: 20px;"><b>{%if emt%}{{emt}}{%endif%}</b></p>
	{%for i in cart%}
	
	<a href="{%url 'productv' i.id%}" style="text-decoration-line: none; color: black;">
	<div style="width: 100%;height: 105px; margin-left: 5%;">
		<div style="width: 150px; float: left;">
			<img src= "{{ i.pp1.url }}" width="115" height="105" style="float: left; border-radius: 15px;">
		</div>
		<div style="margin-left: 170px; margin-right: 10px;">
			<h1 style="width: 100%; font-size: 20px;">{{i.pname}}</h1>
			<p style="width: 100%;"><b>Price: ₹ {{i.pprice}}</b></p>

			
		
			
			<a href="{%url 'remove' i.id%}"><button class="btn btn-inverse" style="margin-top: 5px;">Remove</button></a>
		</div>
	</div></a>
	<hr width="90%" style="margin-left: 5%;">
	{%endfor%}


	<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
											    {%for product in product%}											
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="{%url 'productv' product.id%}"><img src="{{product.pp1.url}}" alt="" /></a></p>
														<a href="{%url 'productv' product.id%}" class="title">{{product.pname}}</a><br/>
														<a href="{%url 'productv' product.id%}" class="category">{{product.pname}}</a>
														<p class="price">₹{{product.pprice}}</p>
													</div>
												</li>
												{%endfor%}
												
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												{%for product2 in product2%}	
												<li class="span3">
													<div class="product-box">
														<p><a href="{%url 'productv' product2.id%}"><img src="{{product2.pp1.url}}" alt="" /></a></p>
														<a href="{%url 'productv' product2.id%}" class="title">{{product2.pname}}</a><br/>
														<a href="{%url 'productv' product2.id%}" class="category">{{product2.pname}}</a>
														<p class="price">₹{{product2.pprice}}</p>
													</div>
												</li>
												{%endfor%}
																																												
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Other <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
											  {%for product3 in product3%}											
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="{%url 'productv' product3.id%}"><img src="{{product3.pp1.url}}" alt="" /></a></p>
														<a href="{%url 'productv' product3.id%}" class="title">{{product3.pname}}</a><br/>
														<a href="{%url 'productv' product3.id%}" class="category">{{product3.pname}}</a>
														<p class="price">₹{{product3.pprice}}</p>
													</div>
												</li>
												{%endfor%}
												
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												{%for product4 in product4%}
												<li class="span3">
													<div class="product-box">
														<p><a href="{%url 'productv' product4.id%}"><img src="{{product4.pp1.url}}" alt="" /></a></p>
														<a href="{%url 'productv' product4.id%}" class="title">{{product4.pname}}</a><br/>
														<a href="{%url 'productv' product4.id%}" class="category">{{product4.pname}}</a>
														<p class="price">₹{{product4.pprice}}</p>
													</div>
												</li>
												{%endfor%}
																																												
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
								
					</div>				
				</div>
			</section>
						

	

	
	
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/">Homepage</a></li>  
							<li><a href="/">About Us</a></li>
							<li><a href="/">Contac Us</a></li>
							<li><a href="/cartpage">Your Cart</a></li>
		
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="/youracc">My Account</a></li>
							<li><a href="/yourorder">My Order</a></li>
							<li><a href="/cartpage">Wish List</a></li>
							<li><a href="/">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{% static 'themes/images/logo2.png'%}" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2020 All right reserved. Powered By Muchhar Bharat</span>
			</section>
		</div>
		<script src="{% static 'themes/js/common.js'%}"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
                    interval: 2500
                });								
			});
		</script>
    </body>
</html>